<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="0000000-0000-0000-0000-000000000000" />
    <add key="KeyVaultName" value="dwhcrawler-keyvault"/>
    <add key="AzureStorageName" value="DefaultEndpointsProtocol=https;AccountName=datawarehousecrawlerdev;AccountKey=xxxxyyyyzzz==;EndpointSuffix=core.windows.net" />
    <add key="TenantId" value="0000000-0000-0000-0000-000000000000"/>
  </appSettings>
  <connectionStrings>
    <add name="Target" connectionString="Data Source=datawarehouse1.database.windows.net;Initial Catalog=datawarehouse-dev;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>